<launch>

	<!-- Machine -->
	<machine name="localhost" address="localhost" env-loader="/opt/ros/hydro/env.sh"/>
	<arg name="machine" default="localhost" />
	
	<node pkg="dwl_terrain" type="default_flat_terrain" name="default_flat_terrain" output="screen" machine="$(arg machine)">
		<remap from="topic_output" to="head_mount_asus_xtion/depth_registered/points" />
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="world_frame" type="string" value="world" />
		<param name="x_min" type="double" value="-0.50" />
		<param name="x_max" type="double" value="0.68" />
		<param name="y_min" type="double" value="-0.40" />
		<param name="y_max" type="double" value="0.40" />
		<param name="resolution" type="double" value="0.01" />
		<param name="height" type="double" value="-0.54" />
	</node>
	
</launch>
