<launch>

	<!-- Machine -->
	<machine name="localhost" address="localhost" env-loader="/opt/ros/indigo/env.sh"/>
	<arg name="machine" default="localhost" />


	<node name="step_pallets" pkg="dwl_terrain" type="default_flat_terrain" output="screen" machine="$(arg machine)">
		<remap from="topic_output" to="asus/depth_registered/points" />
		<param name="world_frame" type="string" value="world" />
		<param name="rectangles" type="int" value="2" />
		<param name="rectangle_1/center_x" type="double" value="1.35" />
		<param name="rectangle_1/center_y" type="double" value="0." />
		<param name="rectangle_1/width" type="double" value="2." />
		<param name="rectangle_1/length" type="double" value="1.2" />
		<param name="rectangle_1/yaw" type="double" value="0." />
		<param name="rectangle_1/resolution" type="double" value="0.01" />
		<param name="rectangle_1/height" type="double" value="0.14" />

		<param name="rectangle_2/center_x" type="double" value="1.2" />
		<param name="rectangle_2/center_y" type="double" value="0." />
		<param name="rectangle_2/width" type="double" value="3" />
		<param name="rectangle_2/length" type="double" value="3.6" />
		<param name="rectangle_2/yaw" type="double" value="0." />
		<param name="rectangle_2/resolution" type="double" value="0.01" />
		<param name="rectangle_2/height" type="double" value="0." />
	</node>

</launch>
