<launch>

	<!-- Machine -->
	<machine name="localhost" address="localhost" env-loader="/opt/ros/indigo/env.sh"/>
	<arg name="machine" default="localhost" />

	<node name="flat" pkg="terrain_server" type="default_flat_terrain" output="screen" machine="$(arg machine)">
		<remap from="topic_output" to="asus/depth_registered/points" />
		<param name="position/x" type="double" value="0." />
		<param name="position/y" type="double" value="0." />
		<param name="position/z" type="double" value="0." />
		<param name="world_frame" type="string" value="world" />
		<param name="rectangles" type="int" value="1" />		
		<param name="rectangle_1/center_x" type="double" value="0.59" />
		<param name="rectangle_1/center_y" type="double" value="0." />
		<param name="rectangle_1/width" type="double" value="1.5" />
		<param name="rectangle_1/length" type="double" value="5.98" />
		<param name="rectangle_1/yaw" type="double" value="0." />
		<param name="rectangle_1/resolution" type="double" value="0.01" />
		<param name="rectangle_1/height" type="double" value="0." />
	</node>
	
</launch>
