<launch>
	
	<node pkg="terrain_server" type="reward_map_server" name="terrain_reward_map_server">
		<remap from="reward_map" to="/reward_map" />
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="world_frame" type="string" value="odom" />
		<!-- Base frame of the robot -->
		<param name="base_frame" type="string" value="base_link" />
	</node>
	
</launch>